
<!-- <div class="upload-form">
  <h1>Document Management System</h1>

  <h1>File Upload Form</h1>

  <form [formGroup]="uploadForm"  enctype="multipart/form-data"          (ngSubmit)="onSubmit()">


    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required>
    </div>
    <div>
      <label for="file">File:</label>
      <input type="file" id="file" formControlName="file" (change)="fileChange($event)" >
    </div>
    <button type="submit">Upload</button>
  </form>
</div> -->

<app-uploads></app-uploads>
